html {

    font-family: 'Open Sans';
    box-sizing: border-box;
    flex: 1 1 auto;
}

body {
    margin-left: auto;
    margin-right: auto;
}

H1 {
    display: inline-block;
    margin-right: auto;
    max-width: 527px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

p,
H1,
H2,
H3,
H4 {
    color: white;
}

a {
    color: #767676;
    text-decoration: none;
}


.container {
    width: 1614px;
    padding-left: 368px;
    padding-right: 283px;
}

.btn {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 30px;
    text-decoration: none;
}

/*Header*/
.header {

    padding: 0;
    margin: 0;
    display: block;
    height: 100px;
    background-color: white;
    left: 0px;
    top: 0px;
}

.header-container {
    height: 100%;
    width: 1920px;
    padding-left: 0px;
    padding-right: 0px;
}

.Logo {
    display: flex;
    margin-left: 368px;
}

.Logo-Header {
    margin-top: 16px;
    margin-right: 15px;
    align-items: center;
}

.text-logo {
    margin-top: 30.5px;
    color: #444444;
}

.nav {
    display: flex;
    background-color: white;
    height: 80px;
}

.contacts {
    display: flex;
    margin-left: 407px;
    align-items: center;
}

.telegram {
    margin-right: 46.88px;
    
}

.telegram1 {
    display: block;
    height: 25.59px;
    width: 30.94px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: background .6s ease;
    }
.telegram1:hover{
    background-image: url(../img/telegram-yellow.svg);
}

.whatsapp {
    margin-right: 31.36px;

}

.whatsapp1 {
    display: block;
    height: 25.66px;
    width: 25.26px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.whatsapp1:hover {
    background-image: url(../img/whatsapp-yellow.svg)
}

.phone {

    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #72E3A2;
    text-decoration: none;
}

.phone:hover {
    color: #FFE145;
}

/*section-main*/
.main {
    background-color: #72E3A2;
    left: 0px;
    top: 80px;
    width: 1920px;
}

.main,
.done,
.wrapper {
    display: flex;
}

.main-wrapper {
    background-color: #72E3A2;
    justify-content: flex-start;
}

.done {
    width: 640px;
}

.done1,
.done2 {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;

}

.done1 {
    margin-right: 48px;
}

.done-img {
    width: 68px;
    height: 68px;
}

.main-description {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #FCFCFC;
    max-width: 416px;
}

.main-btn {
    background: linear-gradient(180deg, #FFEF9C 0%, #FFE145 100%);
    margin-top: 77px;
    margin-bottom: 145px;
    margin-left: 87px;
    transition: background .6s ease;
}

.main-btn:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #BCFFD8 0%, #84FFB8 100%);
}

.done-text {
    margin-left: 20px;
}

.Home {
    display: inline-block;
    margin-right: 115px;
    margin-top: 71px;
    width: 100%;
    height: 100%;
}

/*section-gallery*/
.gallery {
    left: 0px;
    top: 878px;
    background: #D6F8FF;
    height: 878px;
    width: 1920px;
    flex: 1 1 auto;
}

.slider {

    margin-top: 52px;
    margin-right: auto;
    margin-left: auto;
}

/* Слайдер */
.slick-slider {

    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide {}

/* Слайд активный */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}


/* Конкретный слайдер */
.slider {
    position: relative;
    padding: 0px 60px;
}

@media (max-width:983px) {
    .slider {
        padding: 0px 40px;
    }
}

.slider .slick-arrow {
    position: absolute;
    top: 45%;
    margin: -20px 470px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 68px;
    height: 68px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/left%202.svg') 0 0 / 100% no-repeat;
    border: 0;
    left: 70px;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/right%201.svg') 0 0 / 100% no-repeat;
    border: 0;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 0px;
    height: 0px;
    background-color: #fff;
    opacity: 0%;

}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}

.slider__item {
    padding: 0px 15px;
}

.slider__item img {
    max-width: 100%;
    display: flex;
}

.slider__item.slick-center {}

/*section-advantage*/
.advantage {

    display: inline-block;
    width: 1920px;
    background-color: #FCFCFC;
    height: 878px;
    left: 0px;
    top: 1756px;
}

.wrapper-advantage {
    display: flex;
}

.advantage-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #767676;
    width: 490px;
    margin-left: 315px;
    padding-top: 70px;
}

ol {
    display: flex;
    flex-direction: column;
}

.advantage-item {
    list-style: none;
    display: flex;
}


.advantage-description {
    color: #767676;
    width: 450px;
    height: 44px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
}

.number-description {
    width: 68px;
    height: 68px;
    color: #72E3A2;
}

.isometric {
    margin-left: 115px;
    margin-top: 135px;
}

/*section-price*/
.price {
    position: absolute;
    width: 1920px;
    height: 2277px;
    background-color: #D6F8FF;
    left: 0px;
    top: 2530px;
}

.wrapper-price {
    display: flex;
}

.price-part1 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.price-img {
    margin-top: 150px;
    width: 557px;
    height: 475px;

}

.price-img-colors {
    width: 301px;
    height: 69px;
    margin-top: 15px;
    margin-left: 129px;

}

.price-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #767676;
    width: 473.86px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 42px;
    padding-right: 42px;
    margin-top: 150px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px #AAD7E4;
}

.price-description {
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 52px;
    padding-right: 52px;
    background-color: white;
    color: #767676;
    width: 454px;
    height: 257px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px #AAD7E4;
}

.price-btn,
advice-btn {
    display: inherit;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 50px;
    background-color: white;
    color: #72E3A2;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    width: 558px;
    height: 88px;
    box-shadow: 0px 0px 10px 1px #AAD7E4;

}

.price-btn-1,
.advice-btn-1 {
    display: inline-block;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: #FFE870;
    color: #767676;
    border-radius: 50px;
    width: 253px;
    height: 22px;
    margin-left: 40px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    transition: background .3s ease;
}

.pricesbtn {
    display: flex;
    overflow: hidden;
    margin-bottom: 150px;
}

.price-btn-1:hover {
    background: #84FFB8;
}

.value {
    display: inline-block;
    border: 0 !important;
    font-size: 24px;
    margin-top: 26px;
    margin-left: 52px;

}

/*section-advice*/
.advice {
    position: absolute;
    width: 1920px;
    height: 878px;
    left: 0px;
    top: 4800px;

    background: #72E3A2;
}

.advice-wrapper {
    display: flex;
}

.advice-part1 {
    width: 557px;
    height: 475px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px #5AC085;
    border-radius: 50px;
}

.advice-title {
    width: 397px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #767676;
}

.advice-description {
    width: 397px;
    margin-left: 50px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;

    color: #767676;
}

.advice-btn {
    font-size: 18px;
    outline: 0;
    width: 300px;
    height: 88px;
    padding-left: 0px;
    padding-right: 38px;
    margin-left: 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #D9D9D9;
    border-radius: 50px;
    letter-spacing: 0.1em;
    color: #B3B3B3;
}

.advice-btn-1 {
    width: 232px;
    padding-left: 17.31px;
    padding-right: 17.69px;
    margin-left: 38px;
    background: #FFE870;
    box-shadow: 0px 4px 4px #D9D9D9;
    border-radius: 50px;
    top: 442px;
    bottom: 553px;
    left: 588px;
}
.advice-btn-1:hover {
    background: #84FFB8;
}
.advice-btn-1:active {
    background: #84FFB8;
}


.advice-img {
    margin-top: 140px;
    margin-left: 30px;
}

/*footer*/
.footer {
    position: absolute;
    width: 1920px;
    height: 150px;
    left: 0px;
    top: 5678px;
    background: #767676;
}

.wrapper-footer {
    display: flex;
}

.Logo-footer {
    display: flex;
}

.logo-footer {
    margin-top: 41px;
    width: 68px;
    height: 68px;
}

.footer-description {
    width: 195px;
    margin-left: 15px;
    margin-right: 212px;
    margin-top: 53px;
}

.contacts-footer {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
}

.social-footer {
    display: flex;
}


.tel-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FCFCFC;
    margin-top: 15px;
}

.up {
    margin-left: 30px;
    margin-top: 41px;
    margin-right: 69px;
}

.address {
    margin-top: 53px;
    width: 321px;
}

.telegram-footer,
.whatsapp-footer {
    margin-right: 15px;
}